.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-box {
  display: flex;
  align-items: center;
  background-color: var(--blue-900);
  border-radius: 4px;
  padding: 15px 20px;
  gap: 15px;
  border: 2px solid var(--blue-900);
}

.input-box.-focus {
  border: 2px solid var(--blue-500);
}

.input-box > .input {
  all: unset;
  width: 100%;
  background-color: transparent !important;
}

.icon {
}

.input-box > .input:-webkit-autofill {
  transition: background-color 0s 600000s, color 0s 600000s;
  color: var(--gray-400);
}

.input-box > .input::placeholder {
  color: var(--gray-400);
  opacity: 1;
}